h1 {
	font-size: 100px;
	font-family:Courier;
	color: #222222;
	background-color: lightgray;
	
}
p{	
	font-size: 25px;
	font-family:Courier;
	background-color: lightgray;
}
#mainContainer{
	visibility: hidden;
}


#info1{
	text-align:center;
	background-color:lightgray
}
#info2{
	text-align:center;
	background-color:lightgray;

}

#totsum{
	text-align:center;
	background-color:lightgray;

}

#removeCalendarButton {
		background: lightblue;
		color: #444;
		width: 150px;
		height: 50px;
		border-radius: 5px;
		border: thin solid #888;
		box-shadow: 1px 1px 1px grey;
		white-space: nowrap;

	}


#loginbutton {
		color: #444;
		width: 100%;
		height: 55px;
		border-radius: 5px;
		border: thin solid #888;
		box-shadow: 1px 1px 1px grey;
		white-space: nowrap;
		position: absolute;
		right:0;
		left:0;
	}
	#loginbutton:hover {
		cursor: pointer;
	}
	span.label {
		font-family: serif;
		font-weight: normal;
	}
	span.icon {
		background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
		display: inline-block;
		vertical-align: middle;
		width: 42px;
		height: 42px;
	}
	span.buttonText {
		padding-left: 42px;
		padding-right: 42px;
		font-size: 14px;
		font-weight: bold;
	  /* Use the Roboto font that is loaded in the <head> */
		font-family: 'Roboto', sans-serif;
	}


#gSignOutWrapper{
	visibility: visible;
	text-align:center;
}
#gSignInWrapper{

	visibility: visible;
	text-align:center;
}

#canvas {
	width: 100%;
	height: auto;
}


#logoutbutton {
		background: white;
		color: #444;
		width: 100%;
		height: 55px;
		border-radius: 5px;
		border: thin solid #888;
		box-shadow: 1px 1px 1px grey;
		white-space: nowrap;
		position: absolute;
		right:0;
		left:0;
		visibility: hidden
	}